<div class= "container" style="padding-top: 30px ;">
    <h3>Registrar Usuario</h3>
    
      <div class="row-12">
        <nav class="navbar navbar-light bg-transparent justify-content-between">
          <form class="container-fluid">
            <button class="btn btn-outline-success" type="button" routerLink="../usuario-consulta" style="margin:5px">Consultar</button>
            <button class="btn btn-outline-success active" type="button" routerLink="../usuario" style="margin:5px">Crear Usuario</button>
          </form>
        </nav>
      </div>
</div>
