<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Condominios360</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Busqueda" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" routerLink="../index">Menu Principal</a>
      </li>
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Salir</a>
      </li>
    </ul>
    <img src="assets/img/Inicio/barranegra.jpg" style="max-height:70px;max-width:500px;" class="img-fluid" alt="Responsive image">
  </nav>

<div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                          <a href="#" class="site_title"><span>Gestion de Tickets de conominio</span></a>
                        </div>
                        <div class="clearfix">

                        </div>
                            <!-- menu profile quick info -->
                        <div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="images/profiles/default.png" alt="Administrador" class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Bienvenido,</span>
                                <h2>Administrador</h2>
                            </div>
                        </div>
                            <!-- /menu profile quick info -->

                        <br />        
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu"><!-- sidebar menu -->
                            <div class="menu_section">
                                <ul class="nav side-menu">
                                    <li class="">
                                        <a href=""> MENU PRINCIPAL</a>
                                    </li>

                                    <li class="">
                                        <a href="">Tickets</a>
                                    </li>

                                    <li class="">
                                        <a href="">Proyectos</a>
                                    </li>

                                    <li class="">
                                        <a href=""> Categorias</a>
                                    </li>

                                    <li class="">
                                        <a href="">Reportes</a>
                                    </li>

                                    <li class="">
                                        <a href=""> Usuarios</a>
                                    </li>

                                    <li class="">
                                        <a href="">Sobre Mi</a>
                                    </li>

                                </ul>
                            </div>
                        </div><!-- /sidebar menu -->
                    </div>
                </div> 
     
                <div class="top_nav"><!-- top navigation -->
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"></a>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <img src="images/profiles/default.png" alt="">Administrador                            <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li><a href="">Mi cuenta</a></li>
                                        <li><a href="">Cerrar Sesión</a></li>
                                    </ul>
                                </li>
                            </ul>
                     </nav>
                    </div>
                </div><!-- /top navigation -->  

                <div class="right_col" role="main"><!-- page content -->
                    <div class="">
                        <div class="page-title">
                        <div class="clearfix">

                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">    
                            <div> <!-- Modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg-add">Agregar Ticket</button>
                            </div>
                            <div class="modal fade bs-example-modal-lg-add" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">Agregar Ticket</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal form-label-left input_mask" method="post" id="add" name="add">
                                                <div id="result">

                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Tipo
                                                    </label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <select class="form-control" name="type_ticket_id" >
                                                            <option value="1">Incidente</option>
                                                            <option value="2">Requerimiento</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Titulo<span class="required">*</span></label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <input type="text" name="title" class="form-control" placeholder="Titulo" >
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Descripción <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <textarea name="description" class="form-control col-md-7 col-xs-12"  placeholder="Descripción"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Proyecto
                                                    </label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <select class="form-control" name="project_id" >
                                                            <option selected="" value="">-- Selecciona --</option>
                                                                <option value="1">CONDOMINIO</option>
                                                                <option value="2">TORRE</option>
                                                                <option value="3">DEPARTAMENTO</option>
                                                                <option value="4">AREA VERDE</option>
                                                                <option value="5">ZONA</option>
                                                                <option value="6">ASCENSOR / Y ESCALERAS</option>
                                                                <option value="7">AREA COMUN</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Categoria
                                                    </label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <select class="form-control" name="category_id" >
                                                            <option selected="" value="">-- Selecciona --</option>
                                                            <option value="1">ELECTRICIDAD</option>
                                                            <option value="2">AGUA Y DESAGUE</option>
                                                            <option value="3">SEGURIDAD</option>
                                                            <option value="4">LIMPIEZA Y/O MANTENIMIENTO</option>
                                                            <option value="5">SEGURIDAD ELECTRONICA</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Prioridad
                                                    </label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <select class="form-control" name="priority_id" >
                                                            <option selected="" value="">-- Selecciona --</option>
                                                            <option value="1">Alta</option>
                                                            <option value="2">Media</option>
                                                            <option value="3">Baja</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Estado
                                                    </label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <select class="form-control" name="status_id" >
                                                            <option selected="" value="">-- Selecciona --</option>
                                                            <option value="1">Pendiente</option>
                                                            <option value="2">En Proceso</option>
                                                            <option value="3">Solucionado</option>
                                                            <option value="4">Cancelado</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="ln_solid">

                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                                        <button id="save_data" type="submit" class="btn btn-success">Guardar</button>
                                                    </div>
                                                </div>    
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- /Modal -->