<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Condominios360</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Busqueda" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" routerLink="../index">Menu Principal</a>
    </li>
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Salir</a>
    </li>
  </ul>
  <img src="assets/img/Inicio/barranegra.jpg" style="max-height:70px;max-width:500px;" class="img-fluid" alt="Responsive image">
</nav>

<div class= "container" style="padding-top: 120px ;">
  <h3>Comunicaciones</h3>

  
    <div class="row 12">
      <nav class="navbar navbar-light bg-light">
        <form class="container-fluid justify-content-start">
          <button class="btn btn-outline-success me-2" type="button" routerLink="../comunicacion1">Consulta</button>
          <button class="btn btn-sm btn-outline-secondary" type="button" routerLink="../comunicacion2">Creación</button>
        </form>
      </nav>
    </div>


  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="row">Nro</th>
          <th scope="col">Asunto</th>
          <th scope="col">Importancia</th>
          <th scope="col">Vencimiento</th>
          <th scope="col">De</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Vencimiento de recibo Nro 2366</td>
          <td>Alta</td>
          <td>08/02/2022</td>
          <td>Juan Carlos Aguilar</td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>Confirmación de reserva</td>
          <td>Media</td>
          <td>15/01/2022</td>
          <td>Emma Ramos</td>
        </tr>

        <tr>
          <th scope="row">3</th>
          <td>Mantenimiento de ascensores</td>
          <td>Media</td>
          <td></td>
          <td>Emma Ramos</td>
        </tr>


      </tbody>
    </table>

  </div>









