<div class= "container" style="padding-top: 120px ;">
  <h3>Comunicaciones</h3>

  
    <div class="row 12">
      <nav class="navbar navbar-light bg-light">
        <form class="container-fluid justify-content-start">
          <button class="btn btn-outline-success me-2" type="button">Consulta</button>
          <button class="btn btn-sm btn-outline-secondary" type="button">Creación</button>
        </form>
      </nav>
    </div>


  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="row">Nro</th>
          <th scope="col">Asunto</th>
          <th scope="col">Importancia</th>
          <th scope="col">Vencimiento</th>
          <th scope="col">De</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Vencimiento de recibo Nro 2366</td>
          <td>Alta</td>
          <td>08/02/2022</td>
          <td>Juan Carlos Aguilar</td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>Confirmación de reserva</td>
          <td>Media</td>
          <td>15/01/2022</td>
          <td>Emma Ramos</td>
        </tr>

        <tr>
          <th scope="row">3</th>
          <td>Mantenimiento de ascensores</td>
          <td>Media</td>
          <td></td>
          <td>Emma Ramos</td>
        </tr>


      </tbody>
    </table>

  </div>









