<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Condominios360</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Busqueda" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" routerLink="../index">Menu Principal</a>
    </li>
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Salir</a>
    </li>
  </ul>
  <img src="assets/img/Inicio/barranegra.jpg" style="max-height:70px;max-width:500px;" class="img-fluid" alt="Responsive image">
</nav>

<div class= "container" style="padding-top: 120px ;">
    <h3>Configuración de departamentos</h3>
  
    
      <div class="row 12">
        <nav class="navbar navbar-light bg-light">
          <form class="container-fluid justify-content-start">
            <button class="btn btn-outline-success me-2" type="button" routerLink="../apartment1">Consulta</button>
            <button class="btn btn-sm btn-outline-secondary" type="button" routerLink="../apartment2">Creación</button>
          </form>
        </nav>
      </div>
  
  
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#CodDep</th>
            <th scope="col">Condominio</th>
            <th scope="col">Dirección</th>
            <th scope="col">NroDepartamento</th>
            <th scope="col">Propietario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Piura 1200</td>
            <td>Calle. Del Aire 2309</td>
            <td>101</td>
            <td>Juan Carlos Aguilar</td>
          </tr>
  
          <tr>
            <th scope="row">2</th>
            <td>Piura 1200</td>
            <td>Calle. Del Aire 2309</td>
            <td>102</td>
            <td>Emma Ramos</td>
          </tr>
  
          <tr>
            <th scope="row">3</th>
            <td>Piura 1200</td>
            <td>Calle. Del Aire 2309</td>
            <td>104</td>
            <td>Sandra Hualpa</td>
          </tr>
  
          <tr>
            <th scope="row">4</th>
            <td>Piura 1200</td>
            <td>Calle. Del Aire 2309</td>
            <td>201</td>
            <td>Giulio Perales</td>
          </tr>
  
  
          <tr>
            <th scope="row">5</th>
            <td>San Luis X </td>
            <td>Av. Del Ejercito 200</td>
            <td>201</td>
            <td>Mathew Salas</td>
          </tr>
  
  
          <tr>
            <th scope="row">6</th>
            <td>San Luis X </td>
            <td>Av. Del Ejercito 200</td>
            <td>204</td>
            <td>Carlos Santiago</td>
          </tr>
  
        </tbody>
      </table>
  
    </div>
  
  </div>
  
  
  
