
    <div class= "container" style="padding-top: 30px ;"> 
      <h3>REGISTRO DE GASTOS</h3>
    </div>
    
      <div class="mb-3">
        <fieldset disabled>
        <label for="disabledTextInput" class="form-label"><td><strong>Código de Registro</strong></td></label>
        <input type="text" id="disabledTextInput" class="form-control">
      </fieldset>
      </div>
    <p></p>
    <div class="form-group">
      <label for="inputRuc"><td><strong>RUC:</strong></td></label>
      <input type="text" class="form-control" id="inputRuc" placeholder="">
    </div>
    <p></p>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputRazonsocial"><td><strong>Razón Social:</strong></td></label>
        <input type="text" class="form-control" id="inputRazonsocial">
      </div>
      <p></p>
      <div class="form-group col-md-4">
        <label for="inputTipodeDocumento"><td><strong>Tipo de Documento:</strong></td></label>
        <select id="inputTipodeDocumento" class="form-control">
          <option selected>Seleccionar documento</option>
          <option>Boleta</option>
          <option>Factura</option>
          <option>Guia de Remisión</option>
        </select>
      </div>
      <p>
      <p>
      <label for="fecha">Fecha:</label>
      <input type="date" id="fecha" name="trip-start"
       value="2022-02-06"
       min="1998-01-01" max="2050-12-31">
        <p></p>
      <div class="form-group col-md-4">
        <label for="inputTipodeGasto"><td><strong>Tipo de Gasto:</strong></td></label>
        <select id="inputTipodeGasto" class="form-control">
          <option selected>Seleccionar gasto</option>
          <option>Mantenimiento de Piscina</option>
          <option>Mantenimiento de Bomba de Agua</option>
          <option>Mantenimiento de Ascensor</option>
          <option>otros gastos</option>
        </select>
      </div>
      <p></p>
      <div class="form-group col-md-4">
        <label for="inputNTorre"><td><strong>Nro. de Torre:</strong></td></label>
        <select id="inputNTorre" class="form-control">
          <option selected>Seleccionar Torre:</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <p></p>
      <div class="form-group col-md-4">
        <label for="inputNdpto"><td><strong>Nro. de Departamento:</strong></td></label>
        <select id="inputNdpto" class="form-control">
          <option selected>Seleccionar Departamento:</option>
          <option>A</option>
          <option>B</option>
          <option>C</option>
          <option>D</option>
          <option>E</option>
          <option>Toda la Torre</option>
        </select>
      </div>
      <p></p>
      <div class="form-group">
        <label for="inputTotalaPagar"><td><strong>Total a Pagar:</strong></td></label>
        <input type="text" class="form-control" id="inputAddress" placeholder="">
      </div>
      <p></p>
  </div>
 
  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
    <button id="save_data" type="submit" class="btn btn-success">Registrar</button>
</div>
